@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
:root {
    --main-bg-color: rgb(158, 126, 126);
  }  
*{
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(to right, #222741, var(--main-bg-color), #2d0b00);
    height: 12vh;
    border-bottom-right-radius: 125px;
    /* position: fixed; */
    top: 0;
    width: 100%;
}
/* main{
    padding: 50px;
} */
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 140px;
    padding: 0 23px;

}
nav ul{
    display: flex;
    justify-content: flex-start;
    height: 9vh;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a:hover{
    color: black;
    font-weight: bold;
}
li a{
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
}
.searchbar{
    display: flex;
    align-items: center;
}
.searchbar input{
    width: 35vw;
    height: 27px;
    border-radius: 6px;
    margin: 0 15px 0 57px;
    padding: 0 12px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.slider{
    margin: 12px auto;
    width: 85vw;
    overflow: hidden;
}
.card{
    background-color: white;
    margin: auto;
    max-width: 91vw;
}
.card h2{
    font-family: 'Lato', sans-serif;
    padding: 0 40px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
.carditem{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 12vw;
    margin: 0 15px;
}   
footer{
    background: linear-gradient(to right, #222741, var(--main-bg-color), #2d0b00);
    height: 19vh;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    border-top-left-radius: 125px;
}
footer .social_icon{
    display: flex;
    position: relative;
    list-style: none;
    align-items: center;
    justify-content: center;
}
footer .social_icon li a{
    font-size: 1.6em;
    color: beige;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}   
footer .social_icon li a:hover{
    transform: translateY(-19px);
}
footer p{
    font-size: 1em;
    font-weight: 600;
    color: rgb(53, 50, 50);
}
